:root{
    --darkblue-color: #1c2241;
    --yellow-color: #eac434;
    --pickmentblue-color: #3d348b;
    --grey-color:#f0f1f2;
    --grat-color-:gray;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Alegreya", sans-serif;
}
html::-webkit-scrollbar{
    width: 7px;
    background: #bcbdbe;
}
html::-webkit-scrollbar-thumb{
    width: 2px ;
    background: #38393a36;
    border-radius: 50px;
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    height: 100lvh;
    position: relative;
}

.BarNav{
    display: none;
}

h5{
    font-family: "Alegreya", sans-serif !important;
}
a{
    text-decoration: none !important;
}
#Loadinging{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.pre-loader{
    opacity: 0;
    visibility: hidden;
}
.loadder{
    width: 50px;
    height: 50px;
    border: 5px solid var(--darkblue-color);
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }100%{
        transform:rotate(360deg);
    }
}

.smith_name{
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: var(--darkblue-color);
}
header{
    position: relative;
}
header .smith_name .smith_name_contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header .smith_name .smith_name_contents h1{
    font-weight: 800;
    color: white;
    cursor: pointer;
}
header .smith_name .smith_name_contents h1 span{
    font-weight: 400;
    font-style:italic ;
    color: var(--yellow-color);
}
header .smith_name .smith_name_contents .wantmore_content{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .smith_name .smith_name_contents .wantmore_content h3{
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-color);
}
header .smith_name .smith_name_contents .wantmore_content .wallnut{
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;
    padding: 10px 14px;
    text-decoration: none  ;
    gap: 5px;
}
header .smith_name .smith_name_contents .wantmore_content .wallnut h3{
    font-size: initial;
    font-weight: 600;
    color: var(--darkblue-color);
}
.swe{
    color: var(--darkblue-color);
}
.wrapperForsmall{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .6em;
}
.newnavholder{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.navstyle1{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding:8px 20px ;
    background-color: #fff;
    box-shadow:-1px 5px 6px 0px #d8d8d8;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.navstyle1 .siteicons1 img{
    width: 2.7em;
    cursor: pointer;
}
.navstyle{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    padding: 20px ;
    background-color: #fff;
    box-shadow:-1px 5px 6px 0px #d8d8d8;
    transition: all 1.2s cubic-bezier(.3,.96,.59,.95);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.navstyle .siteicons{
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.navstyle .siteicons img{
    height: auto;
    width: 100%;
    cursor: pointer;
}
.navstyle ul{
    display: flex;
    gap: 30px;
}
.navstyle ul li{
    list-style: none;
}
.navstyle ul li a:hover{
    border-bottom: red 2px solid;
}
.nass{
    border-bottom: red 2px solid;
}
.navstyle ul li a{
    text-decoration: none;
    font-weight: 600;
    /* font-family: "Roboto", sans-serif; */
    color: var(--darkblue-color);
    position: relative;
}
.navstyle  .social_media{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navstyle  .social_media a{
    color: var(--darkblue-color);
}
.navstyle .social_media a:hover{
    color: var(--grat-color-);
    transform: scale(1.19);
    transition: 0.4s ease;
}
.searchbar{
    display: flex;
    align-items: center;
    border: solid 1px grey;
    /* padding-right:5px ; */
    overflow: hidden;
    height: 2.1em;
    border-radius:4px ;
}
 .searchbar input{
    outline: none;
    border: none;
    padding: .5em 10px .5em 14px;
    height: 36px;   
    font-weight: 600;
    color: var(--grat-color-);
}
 .searchbar span{
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: var(--darkblue-color);
    height: 100%;
    cursor: pointer;
    padding: 0 .6em;
} 
.searchbar span .bb{
    color: var(--grey-color);
    font-size: initial;
}

.site-main-content{
    padding: .6em;
    width: 100%;
}
.site-main-content h4{
    font-weight: 600;
    color: var(--pickmentblue-color);
    border-bottom: 1px solid var(--darkblue-color);
}
.site-main-content h4 .nn{
    color: var(--yellow-color);
}
main{
    display: flex;
    margin-bottom:1em ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hometab .topnotch{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    max-height: 500px;
    width: 100%;
    height: 400px;
    background-color: var(--grey-color);
    box-shadow: 1px 0px 4px 1px #c8c8c8;
}
#hometab .topnotch .main-news{
    overflow: hidden;
    position: relative;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#hometab .topnotch .main-news .ontoptrenn{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(360deg, rgba(85, 85, 85, 0.486), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
    top: 0;
    left: 0;
    pointer-events: none;
}
#hometab .topnotch .main-news:hover .ontoptrenn{
    background:linear-gradient(360deg, rgba(112, 112, 112, 0.603), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
    transition-delay: 1s;
}
.ontoptrenn .contenttag{
    position: absolute;
    bottom: 0;
    margin:0 12px;
    padding: 25px 25px;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

}
#hometab .topnotch .main-news img:hover{
    object-position: 40% center !important; 
    filter: brightness(0.9);
}
#hometab .topnotch .main-news:hover  .contenttag h5{
    transform: translateY(1px);
    opacity: 1;
}
#hometab .topnotch .main-news:hover  .ontoptrenn .contenttag{
    transform:translateY(-19px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

}
.ontoptrenn .contenttag .hellow{
    position: absolute;
    top: -9%;
    background-color: var(--darkblue-color);
    padding: 5px;
    /* border-radius: 4px; */
    align-items: center;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    /* font-family: "Roboto", sans-serif; */

}
.ontoptrenn .contenttag h4{
    /* font-family: "Roboto", sans-serif; */
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    line-height: 1em;
}
#hometab .topnotch .main-news img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: object-position 0.3s ease-in-out, filter 0.3s ease-in-out;
    object-position: center;
}
#hometab .topnotch .side-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    max-height: 500px;

}
#hometab .topnotch .side-news .fourplate img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: object-position 0.3s ease-in-out, filter 0.3s ease-in-out;
    object-position: center;
}

#hometab .topnotch .side-news .fourplate{
    position: relative;
    cursor: pointer;
    overflow: hidden;
} 
.contenttag h5{
    display: block;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #dad5d5;
    margin-top: 1em;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
}

#hometab .topnotch .side-news .fourplate .sidenewscontent{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(360deg, rgba(83, 83, 83, 0.322), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
    top: 0;
    left: 0;
    pointer-events: none;
}
#hometab .topnotch .side-news .fourplate:hover .sidenewscontent{
    background:linear-gradient(360deg, rgba(112, 112, 112, 0.603), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
}
#hometab .topnotch .side-news .fourplate .sidenewscontent .absoluteside-content{
    position: absolute;
    bottom: 0;
    margin:0 12px;
    padding: 25px 0;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.absoluteeee{
    position: absolute;
    top: -100%;
    background-color: var(--darkblue-color);
    padding: 5px;
    /* border-radius: 4px; */
    align-items: center;
    font-size: 12px;
    color: #fff;
    text-align: center;
    /* font-family: "Roboto", sans-serif; */
}

.absoluteside-content h4{
    font-family: "Alegreya", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 15px;
}
.absoluteside-content h5{
    display: block;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #dad5d5;
    margin-top: 1em;
    position: absolute;
    opacity: 0;
    bottom: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(36px);
}

#hometab .topnotch .side-news .fourplate:hover  img{
    object-position: 40% center; 
    filter: brightness(0.7);
}
#hometab .topnotch .side-news .fourplate:hover .absoluteside-content{
    transform:translateY(-15px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#hometab .topnotch .side-news .fourplate:hover .absoluteside-content h5{
    transform: translateY(21px);
    opacity: 1;
}
.indicator{
    display: flex;
    align-items: center;
    text-decoration: underline !important;
    color: #000;
    padding: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    background-color: var(--grey-color);
}
.indicator:hover{
    text-decoration: underline;
    color: var(--darkblue-color);
}
.AddverPicture{
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}
.AddverPicture img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
}

.nmmn{
    padding: .6em;
    display: flex;
    align-items: center;
    width: 100%;
}
.seconwrman{
    width: 100%;
    display: flex;
    align-items: center;
    /* gap: 5px; */
    padding: 20px;
}
.seconwrman h4{
    font-family: "Alegreya", sans-serif;
    font-weight: 600;
    /* color: var(--grey-color); */
    color: var(--darkblue-color);
    display: flex;
    align-items: center;
    padding:8px 8px;
    /* background-color: var(--darkblue-color); */
    background-color: var(--yellow-color);
}
#hometab .editorspicksworks{
    width: 100%;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 0 auto;
    height: auto;
}
#hometab .editorspicksworks .firstparentElement{
    height: auto;
    /* background-color: var(--grey-color); */
}
.bearer{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.bearer .matters{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--grey-color);
    padding: 12px;
    text-decoration: none;
    box-shadow:1px 0px 4px 1px #c8c8c8;
}
.bearer .forimagestake{
    height: 200px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.bearer .forimagestake img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ontopsma{
    position: absolute;
    top: 5%;
    left: 1%;
    align-items: center;
    justify-content: center;
    /* border-radius: 4px; */
    color:#fff;
    padding: 5px;
    font-size: 12px;
    font-family: "Alegreya", sans-serif;
    background-color: var(--darkblue-color);
}
.matters .hearder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
}
.hearder h2{
    width: 100%;
    font-family: "Alegreya", sans-serif;
    color: var(--darkblue-color);
    font-size: 23px;
    line-height: 25px;
    text-align: left;
    font-weight: 800;
    text-wrap: wrap;
}
.hearder p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-wrap: wrap;
    text-align: left;
    width: 100%;
    color: rgb(27, 26, 26);
}
.hearder h5{
    display: block;
    font-family: "Alegreya", sans-serif;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    font-weight: 600;
    color: var(--grat-color-);
    margin-bottom: 1em;
}
.hearder h5 .loveq{
    color: var(--darkblue-color);
}



#hometab .editorspicksworks .secondparentElement{
    height: auto;   
    /* background-color: var(--grey-color); */
    flex-direction: column;
    display: flex;
    padding: 0 .5em;
    align-items: center;
    box-shadow: 1px 0px 4px 1px #c8c8c8;
}
.advertcontainer{
    display: grid;
    grid-template-columns: 1fr ;
    height: 200px;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.advertcontainer img{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.topmane{
    width: 100%;
    height: 33px;
    background-color: var(--darkblue-color);
    display: flex;
    justify-content: start;
    padding-left:.9em ;
    align-items: center;
    gap: .3em;
    margin-bottom: .5em;
}
.topmane .bvb{
    color: var(--yellow-color);
}
.topmane h3{
    font-family: "Alegreya", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey-color);
}
.smallnewContain{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    overflow: hidden;
}
.smallnewContain .smallnew{
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 8px;
    background-color: var(--grey-color);
    text-decoration: none;
}
.smallnewContain .smallnew .foke{
    width: 100%;
    position: relative;
    height: 100%;
}
.smallnewContain .smallnew .foke .aboveall{
    position: absolute;
    bottom: 5%;
    left: 3%;
    align-items: center;
    justify-content: center;
    /* border-radius: 4px; */
    color: #fff;
    padding:6px 7px;
    font-size: 14px;
    font-family: "Roboto";
    background-color: var(--darkblue-color);
}
.smallnewContain .smallnew .foke img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.smallnew .wordsnote{
    padding: 5px 10px;
} 
.smallnew .wordsnote p{
    width: 100%;
    font-family: "Alegreya", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1f1e1e;
}
.smallnew .wordsnote h5{
    font-weight: 600;
    font-size: 12px;
    margin-top: .4em;
    color: var(--grat-color-);
}
.troubleContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}   
.troubledisv{
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
    text-decoration: none;
    width: 100%;
    background-color: var(--grey-color);
    gap: 8px;

}
.troubledisv .troubledisv-h1{
    overflow: hidden;
    height: 200px;
}
.troubledisv .troubledisv-h1 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.troubledisv .troubledisv-h2{
    display: block;
    padding: 5px 0 5px 8px;
    gap: 10px;
}
.troubledisv .troubledisv-h2 p{
    font-family: "Alegreya", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(27, 26, 26);
}
.troubledisv .troubledisv-h2 h5{
    font-weight: 600;
    font-size: 12px;
    margin-top: .4em;
    color: var(--grat-color-);
}
.connetnet{
    border-top: 4px solid var(--darkblue-color);
    width: 100%;
    margin-top: 8px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.ddddsdk{
    flex-direction: column;
    display: flex;
    width: 100%;
}
.connetnet h3{
    font-family: "Alegreya", sans-serif;
    font-size: 15px;
    color: var(--darkblue-color);
    padding: 9px 5px;
    border-bottom: 1px solid var(--grat-color-);
    background-color: #fff;
    font-weight: 800;
    width: 100%;
}
.connetnet .concepconnnect{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 6px;
    gap: 10px;
    background-color:#fff;
}
.connetnet .concepconnnect span{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-family: "Alegreya", sans-serif;
    font-weight: 700;
    gap: 1px;
}
.lamba{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin: 1em 0;   
}
.lamba img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#hometab .vidownew{
    width: 100%;
    background-color: var(--darkblue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
}
#hometab .vidownew hr{
    border: solid 2px #fff;
}
#hometab .vidownew h6{
    color: var(--grey-color);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: italic;
}
#hometab .vidownew .videSet{
    width: 100%;
    display: flex;
    margin-top:1em ;
    overflow-x: hidden;
    gap: 12px;
    scroll-behavior: smooth;

}

.ForBotton{
    position: absolute;
    background-color: var(--grat-color-);
    padding: .3em;
    z-index: 100;
    top: 55px;
    display: flex;
    left: 23px;
    align-items: center;
}

.ForBotton button{
    background:none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6em;
    height: 100%;
}
.ForBotton button:active{
    background: var(--darkblue-color);
}
.ForBotton button .rft{
    color: #fff;
}


#hometab .vidownew .videSet .vidcood{
    display: flex;
    min-width: 300px;
    height: auto;
}
#hometab .vidownew .videSet .vidcood .forvideonews{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    height:auto;
    flex-direction: column;
}
.forvideonews iframe{
    width: 100%;
    height: 260px;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .iframe-loader {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .iframe-loader::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 4px solid #afa5a5;
    border-top: 4px solid #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 8px;
  }
  

.forvideoinfo{
    gap: .6em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: .4em;
    
}
.forvideoinfo p{
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    color: #fff;
    font-size: 17px;
    line-height: 1em;
    word-wrap:break-word;
}
.forvideoinfo h6{
    font-size: 11px !important;
    display: flex;
    align-items: center;
    font-style: normal;
    gap: 2px;
    color: var(--grey-color);
    text-align: center;
}




footer{
    width: 100%;
    display: flex;
    background-color: var(--darkblue-color);
    flex-direction: column;
    padding: 10px;
}
footer .footername{
    display: flex;
    position: relative;
}
footer .footername img{
    width: 30px;
    height: 30px;
}
footer .footername h1{
    font-family: "Alegreya", sans-serif;
    color: var(--grey-color);
}
footer .footername h1 span{
    font-style: italic;
    font-weight: 400;
    color: var(--yellow-color);
}
footer nav{
    display: flex;
    width: 100%;
    height: auto;
    margin: 1em 0;
}
footer nav ul{
    display: flex;
    gap: 30px;
}
footer nav ul li{
    list-style: none;
}
footer nav ul li a:hover{
    text-decoration:underline;
}
footer nav ul li a{
    text-decoration: none;
    font-weight: 600;
    /* font-family: "Roboto", sans-serif; */
    color: var(--grey-color);
}
footer .otherlanguage{
    display: flex;
    gap: 10px;
    justify-content: right;
    width: 100%;
    position: relative;
}
.ianguages{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--darkblue-color);
    background-color: var(--yellow-color);
    cursor: pointer;
    padding:10px 15px;
    position: fixed;
    bottom: 4em;
    display: none;
    right: 1em;
}
footer .rightandhonnor{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--grey-color);
    padding: 8px 0 0 0;
    margin-top: 1em;
}   
footer .rightandhonnor p{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--grey-color);
    font-style: italic;
}

.loading-spinner {
    text-align: center;
    margin: 50px 0;
    height: 500px;
    width: 200px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.Newsh1{
    font-family: "Alegreya", sans-serif;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    color: var(--darkblue-color);
}
.secondMainMan{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-color);
    cursor: pointer;
}
.secondMainMan .addver{
    width: 100%;
    height:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.secondMainMan .addver h6{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--grat-color-);
    height: 20%;
    text-align: right;
    width: 60%;
}
.secondMainMan .addver img{
    width: auto;
}
.worldNewsonly{
    width: 100%;
    display: flex;
    height: auto;
    border-top: 1px solid var(--darkblue-color);
    margin-top: 1em;
    flex-direction: column;
}

.worldNewsonly .forworldnewsh2{
    width: 100%;
    font-family: "Alegreya", sans-serif;
    color: var(--darkblue-color);
}
.worldNewsonlywrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.worldNewsonlywrapper .wrappnewsMain{
    width: 100%;
    display: flex;
    height: 100%;
}
.seniorwrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 0 11px;
    min-height: 300px;
    height: 300px;
}
.seniorwrapper .forimagenews {
    width: 50%;
    overflow: hidden;
    position: relative;
    
}
.seniorwrapper .forimagenews img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    /* position: relative; */
}

.forimagenews-concs{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.peace-unto{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    position: relative;
    background:linear-gradient(360deg, rgba(85, 85, 85, 0.486), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
}
.softman{
    padding: 0 1em;
    position: absolute;
    bottom: 24px;
} 
.softman h2{
    color: var(--grey-color);
    font-family: "Alegreya", sans-serif;
    font-size: 17px;
}
.softman h5{
    color: var(--grey-color);
    font-family: "Alegreya", sans-serif;
    font-size: 10px;
    font-weight: lighter;
}
.fortextparagram{
    width: 50%;
    height: 100%;
    padding: .6em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.fortextparagram h2{
    font-family: "Alegreya", sans-serif;
    color: var(--darkblue-color);
    font-size: 2em;
    line-height: 30px;
}
.fortextparagram h5{
    font-family: "Alegreya", sans-serif;
    color: var(--grat-color-);
    font-size: 11px;
}
.fortextparagram h5 .andwe{
    color: var(--darkblue-color);
}
.NosearchFound{
    margin: 2em;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--darkblue-color);
}
.fortextparagram p{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color:   rgb(27, 26, 26);
    text-shadow: 0px 1px 1px #0a0a0a;
}

.otherNewsworldnews{
    width: 100%;
    display: flex;
    background-color: var(--grey-color);
    height: auto;
}
.otherNewsworldnews > div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    /* gap: 20px; */
}
.containersnewsworld{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: .3em;
    text-decoration: none;
}
.No-image{
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}
.No-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.textonecs h3{
    font-family: "Alegreya", sans-serif;
    font-size:14px;
    color: rgb(27, 26, 26);
}
.textonecs h5{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--darkblue-color);

}
.anotherAdvert{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: var(--grey-color);
    justify-content: center;
}
.anotherAdvert img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.fortoborns{
    width: 100%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    height: auto;
    align-items: center;
    padding-left: 1em;
    /* padding-top:.2em ; */

    border-top: 1px solid var(--darkblue-color);
    border-bottom: 1px solid var(--darkblue-color);
    background-color: var(--grey-color);
}
.fortoborns .sporth3{
    font-family: "Alegreya", sans-serif;
    text-align: left;
    font-size: 1em;
    color: var(--grey-color);
    padding: .5em;
    font-weight: 600;
    background-color: var(--darkblue-color);
}
.jjs{
    padding: 0 1em !important;
}


main .worldOfSport-fashion{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: .9em;
    gap: 1em;
}
.supportwrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.ForSport{
    gap: .7em;
    flex-direction: column;
    display: flex;
}
.contentwwaper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 2px 4px 0px #c9c7c7;
}
.imagrag{
    overflow: hidden;
}
.imagrag img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.fornewsconns{
    flex-direction: column;
    display: flex;
    gap: .6em;
    padding: .8em;
    text-align: left;
    justify-content: center;
}
.fornewsconns h2{
    font-family: "Alegreya", sans-serif;
    font-size: 1.2em;
    color: var(--darkblue-color);
}
.fornewsconns h5{
    font-family: "Alegreya", sans-serif;
    font-size: 11px;
    color:var(--darkblue-color);
}
.fornewsconns .poststatus{
    color: rgb(27, 26, 26);
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.ForFashion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.trike{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-bottom: .8em;
    box-shadow: inset 3px -3px 5px 0px #d7d7d7;
}
.trike .Alligience1{
    width: 100%;
    overflow: hidden;
}
.trike .Alligience1 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.trike .Alligience2 h2{
    font-family: "Alegreya", sans-serif;
    font-size: 1em;
    color: rgb(27, 26, 26);
}
.trike .Alligience2 h5{
    font-family: "Alegreya", sans-serif;
    font-size: 11px;
    color: var(--darkblue-color);
}
.Allweather{
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}
.Allweather video{
    width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.Allweather > div{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5f61618a;
}
.towrappeBith{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: .7em;
}
.firstdiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.firstdiv > div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-color);
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
}
.firstdiv > div > input{
    background: none;
    outline: none;
    border: none;
    flex: 1;
    padding: 1em ;
    color: gray;
    font-family: 'Alegreya', sans-serif;
}
.searchbuds{
    height: 100%;
    width: 40px;
    background-color: var(--darkblue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.kkd{
    color: var(--grey-color);
}
.seconddiv{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: .7em;
}
.ApartMent1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}
.ApartMent1 span{
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    font-size: 17px;
    color: var(--grey-color);
    text-shadow: 2px 1px 1px #5b5b5b;
    display: flex;
    align-items: center;
    gap: .6em;
}
.ApartMent1 span p{
    color: var(--yellow-color);
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.h1CountryName{
    display: flex;
    align-items: center;
}
.h1CountryName span{
    color: var(--grey-color);
    font-family: "Alegreya", sans-serif;
    text-shadow: 2px 1px 1px #5b5b5b;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}
.h1CountryName utitbest{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--yellow-color);
}
.ApartMent2{
    align-items: start;
    display: flex;
}
.ApartMent2 h1{
    font-size: 8em;
    outline: none;
    border: none;
    transform: rotate(20deg);
}
.otherCountry{
    width: 100%;
    height: auto;
    display: flex;
}
.disciples{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.contentwapp{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: .8em;
    position: relative;
    padding: 1em;
    justify-content: center;
}
.country-card{
    padding: .4em .4em;
    display: flex;
    border-radius: .2em;
    overflow: hidden;
    background-color: var(--grey-color);
    box-shadow:1px 2px 6px 0px rgb(137 136 136);
}
.country-card > div{
    display: flex;
    flex-direction: column;
}
.sions{
    font-size: 15px;
    color:var(--darkblue-color);
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    display: flex;
    height: 17em;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;    
}
.divNoclass{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.scu{
    color: var(--yellow-color);
}

.loading-spinner1::after {
    content: '';
    display: block;
    margin: 10px auto;
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
.advertcontainer3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: .5em 0;
}
.advertcontainer3 .jecues{
    height: 100%;
    width: 100%;
    display: flex;
}

.advertcontainer3 .jecues img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
.news_Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weather_section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.errorcontact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
    padding: 0 1.5em;
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    color: rgb(224, 45, 13);
}
#article1{
    display: flex;
    width: 100%;
    padding: 0 2em;
    gap: .1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    flex-direction: column;
}

#article1 .searchEle{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: .4em;
}
#article1 .searchEle .imagesearch{
    height: 100%;
    width: 30%;
    display: flex;
    overflow: hidden;
}

#article1 .searchEle .imagesearch img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#article1 .searchEle .articlesCont{
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.loasdi,
.loasdi1{
    box-shadow: inset 1px 1px 5px 0 gray;
}
.main-news.loasdi::before{
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 30px; height: 30px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

.side-news.loasdi1::before{
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    width: 30px; height: 30px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin1 1s linear infinite;
}

.forimagenews.loasdi1::before{
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    width: 30px; height: 30px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin1 1s linear infinite;
}

.showself {
    max-height: 500px !important; 
    opacity: 1 !important;
    padding:0 0 11px 23px !important;
}

@keyframes spin1 {
    to { transform: rotate(360deg); }
}


@media(max-width: 990px){
    .absoluteside-content h4{
        font-size: 12px ;
    }
}
@media(max-width: 900px){
    .seniorwrapper{
        flex-direction: column;
        height: auto;
    }
    .fortextparagram{
        height: auto;
        width: 100%;
    }
    .seniorwrapper .forimagenews{
        width: 100%;
        height: 350px;
    }
}

@media(max-width: 830px){
    #hometab .editorspicksworks{
        display: flex !important;
        flex-direction: column;
    }
}

@media(max-width: 800px){
    main .worldOfSport-fashion{
        grid-template-columns: 1fr 1fr;
    }
    #hometab .topnotch{
        height: auto !important;
        max-height:unset !important ;
        display: flex !important;
        flex-direction: column;
    }
    #hometab .topnotch .side-news{
        height: 500px;
    }
    .contentwwaper{
        grid-template-columns: 1fr;
    }
    .fornewsconns{
        padding: .3em;
    }
    .fornewsconns .poststatus{
        display: none;
    }
    .trike{
         box-shadow:1px 2px 4px 0px #c9c7c7;
    }
}

@media(max-width: 780px){
    
    .navstyle {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all 0.6s ease-in-out;
        padding: 0 ;
        align-items: baseline;
    }
    
    .dkde9{
        color: var(--darkblue-color);
        font-size: 1.7em;
    }
    .BarNav{
        display: flex !important;
        cursor: pointer;
    }
    .navstyle ul{
        flex-direction: column;
        margin-bottom: 1em;
    }
    .navstyle .social_media{
        margin: .5em 0;
        gap: 30px;
    }
    
    .navstyle .siteicons{
        display: none;
    }
    .navstyle .siteicons img{
        width: 2.7em !important;
    }
    .navstyle1{
        display: flex !important;
    }
    #article1{
        gap: 1em;
    }
    #article1 .searchEle{
        flex-direction: column;
        box-shadow:2px 2px 8px 2px var(--grey-color);
    }
    #article1 .searchEle .imagesearch{
        width: 100%;
    }
    #article1 .searchEle .articlesCont{
        width: 100%;
    }
}
@media(max-width: 770px){
    header .smith_name .smith_name_contents{
        flex-direction: column !important;
    }
    header .smith_name .smith_name_contents h1{
        width: 100% !important;
    }
    header .smith_name .smith_name_contents .wantmore_content {
        width: 100%;
    }
    .daysof {
        font-size: 25px !important;
    }
    header .smith_name .smith_name_contents .wantmore_content{
        justify-content: space-between !important;
    }

}
@media(max-width: 745px){
    .secondMainMan .addver img{
        width: 90%;
    }
}
@media(max-width: 640px){
    .bearer .matters{
        display: flex !important;
        flex-direction: column;
    }
}
@media(max-width:610px){
    .topmane h3{
        font-size: 15px;
    }
    .fortoborns .sporth3 {
        font-size: 14px;
    }
}
@media(max-width: 600px){
    #hometab .topnotch .main-news{
        height: 20em !important;
    }

    #hometab .topnotch .side-news{
        max-height: unset !important;
        display: flex !important;
        flex-direction: column;
        height: auto;
    }
    #hometab .topnotch .side-news .fourplate{
        height: auto;
    }
    .absoluteside-content h4{
        font-size: 14px !important;
    }
    #hometab .vidownew .videSet{
        overflow-x: auto !important;
    }
    #article1{
        padding: 0 1em;
    }
}
@media(max-width: 570px){
    .daysof{
        font-size: 20px !important;
    }
    header .smith_name .smith_name_contents .wantmore_content .wallnut{
        padding: 7px !important;
    }
    .h1CountryName span{
        font-size: 1.2em;
    }
    .ApartMent1 span {
        font-size: 15px;
    }
}
@media(max-width: 550px){
    .softman{
        display: flex;
        flex-direction: column;
        gap:.3em ;
    }
    .otherNewsworldnews1{
        display: grid !important;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .containersnewsworld{
        width: 100%;
        padding: 0 .9em;
    }
    main .worldOfSport-fashion{
        grid-template-columns: 1fr;
    }
    .trike{
        gap: .5em;
        padding: .5em 0;
    }
    .Alligience2{
        gap: .5em;
        display: flex;
        flex-direction: column;
    }
    .textonecs{
        flex-direction: column;
        display: flex;
        gap: .5em;
    }
    .fortextparagram p{
        font-weight: 600;
        text-shadow: unset;
        font-size: 17px;
    }
}
@media(max-width: 460px){
    .rrtrr{
        display: none !important;
    }
    header .smith_name .smith_name_contents h1{
        font-size: 1.6em !important;
    }
}
@media(max-width: 360px){
    header .smith_name .smith_name_contents .wantmore_content{
        flex-direction:column !important;
        align-items:baseline !important;
    }
}