.secondMainMan .addver{
    width: 100%;
    height:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.secondMainMan .addver h6{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--grat-color-);
    height: 20%;
    text-align: right;
    width: 60%;
}
.secondMainMan .addver img{
    width: auto;
}
.worldNewsonly{
    width: 100%;
    display: flex;
    height: auto;
    border-top: 1px solid var(--darkblue-color);
    margin-top: 1em;
    flex-direction: column;
}

.worldNewsonly .forworldnewsh2{
    width: 100%;
    font-family: "Alegreya", sans-serif;
    color: var(--darkblue-color);
}
.worldNewsonlywrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.worldNewsonlywrapper .wrappnewsMain{
    width: 100%;
    display: flex;
    height: 100%;
}
.seniorwrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 0 11px;
}
.seniorwrapper .forimagenews {
    width: 50%;
    overflow: hidden;
    position: relative;
    
}
.seniorwrapper .forimagenews img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    /* position: relative; */
}

.forimagenews-concs{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.peace-unto{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    position: relative;
    background:linear-gradient(360deg, rgba(85, 85, 85, 0.486), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
}
.softman{
    padding: 0 1em;
    position: absolute;
    bottom: 24px;
} 
.softman h2{
    color: var(--grey-color);
    font-family: "Alegreya", sans-serif;
    font-size: 17px;
}
.softman h5{
    color: var(--grey-color);
    font-family: "Alegreya", sans-serif;
    font-size: 10px;
    font-weight: lighter;
}
.fortextparagram{
    width: 50%;
    height: 100%;
    padding: .6em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.fortextparagram h2{
    font-family: "Alegreya", sans-serif;
    color: var(--darkblue-color);
    font-size: 2em;
    line-height: 30px;
}
.fortextparagram h5{
    font-family: "Alegreya", sans-serif;
    color: var(--grat-color-);
    font-size: 11px;
}
.fortextparagram h5 .andwe{
    color: var(--darkblue-color);
}
.fortextparagram p{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color:   rgb(27, 26, 26);
    text-shadow: 0px 1px 1px #0a0a0a;
}

.otherNewsworldnews{
    width: 100%;
    display: flex;
    background-color: var(--grey-color);
    height: auto;
}
.otherNewsworldnews > div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    /* gap: 20px; */
}
.containersnewsworld{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: .3em;
    text-decoration: none;
}
.No-image{
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}
.No-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.textonecs h3{
    font-family: "Alegreya", sans-serif;
    font-size:14px;
    color: rgb(27, 26, 26);
}
.textonecs h5{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--darkblue-color);

}
.anotherAdvert{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: var(--grey-color);
    justify-content: center;
}
.anotherAdvert img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.fortoborns{
    width: 100%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    height: auto;
    align-items: center;
    padding-left: 1em;
    /* padding-top:.2em ; */

    border-top: 1px solid var(--darkblue-color);
    border-bottom: 1px solid var(--darkblue-color);
    background-color: var(--grey-color);
}
.fortoborns .sporth3{
    font-family: "Alegreya", sans-serif;
    text-align: left;
    font-size: 1em;
    color: var(--grey-color);
    padding: .5em;
    font-weight: 600;
    background-color: var(--darkblue-color);
}
.jjs{
    padding: 0 1em !important;
}


main .worldOfSport-fashion{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.supportwrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.contentwwaper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imagrag{
    overflow: hidden;
}
.imagrag img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.fornewsconns{
    flex-direction: column;
    display: flex;
    gap: .6em;
    padding: .8em;
    text-align: left;
    justify-content: center;
}
.fornewsconns h2{
    font-family: "Alegreya", sans-serif;
    font-size: 1.2em;
    color: var(--darkblue-color);
}
.fornewsconns h5{
    font-family: "Alegreya", sans-serif;
    font-size: 11px;
    color:var(--darkblue-color);
}
.fornewsconns .poststatus{
    color: rgb(27, 26, 26);
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.ForFashion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.trike{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-bottom: .8em;
}
.trike .Alligience1{
    width: 100%;
    overflow: hidden;
}
.trike .Alligience1 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.trike .Alligience2 h2{
    font-family: "Alegreya", sans-serif;
    font-size: 1em;
    color: rgb(27, 26, 26);
}
.trike .Alligience2 h5{
    font-family: "Alegreya", sans-serif;
    font-size: 11px;
    color: var(--darkblue-color);
}
.Allweather{
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}
.Allweather video{
    width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.Allweather > div{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5f61618a;
}
.towrappeBith{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: .7em;
}
.firstdiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.firstdiv > div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-color);
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
}
.firstdiv > div > input{
    background: none;
    outline: none;
    border: none;
    flex: 1;
    padding: 1em ;
    color: gray;
    font-family: 'Alegreya', sans-serif;
}
.searchbuds{
    height: 100%;
    width: 40px;
    background-color: var(--darkblue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.kkd{
    color: var(--grey-color);
}
.seconddiv{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7em;
}
.ApartMent1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}
.ApartMent1 span{
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    font-size: 17px;
    color: var(--grey-color);
    text-shadow: 2px 1px 1px #5b5b5b;
    display: flex;
    align-items: center;
    gap: .6em;
}
.ApartMent1 span p{
    color: var(--yellow-color);
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.h1CountryName{
    display: flex;
    align-items: center;
}
.h1CountryName span{
    color: var(--grey-color);
    font-family: "Alegreya", sans-serif;
    text-shadow: 2px 1px 1px #5b5b5b;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}
.h1CountryName utitbest{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--yellow-color);
}
.ApartMent2{
    align-items: start;
    display: flex;
}
.ApartMent2 h1{
    font-size: 8em;
    outline: none;
    border: none;
    transform: rotate(20deg);
}
.otherCountry{
    width: 100%;
    height: auto;
    display: flex;
}
.disciples{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.contentwapp{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: .8em;
    position: relative;
    padding: 1em;
    justify-content: center;
}
.country-card{
    /* height: auto; */
    /* width: 100px; */
    padding: .4em .4em;
    display: flex;
    border-radius: .2em;
    overflow: hidden;
    background-color: var(--grey-color);
    box-shadow:1px 2px 6px 0px rgb(137 136 136);
}
.country-card > div{
    display: flex;
    flex-direction: column;
}
.sions{
    font-size: 15px;
    color:var(--darkblue-color);
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    display: flex;
    height: 17em;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;    
}
.divNoclass{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.scu{
    color: var(--yellow-color);
}

.loading-spinner1::after {
    content: '';
    display: block;
    margin: 10px auto;
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
.advertcontainer3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: .5em 0;
}
.advertcontainer3 .jecues{
    height: 100%;
    width: 100%;
    display: flex;
}

.advertcontainer3 .jecues img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
.news_Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weather_section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorcontact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
    font-weight: 600;
    font-family: "Alegreya", sans-serif;
    color: rgb(224, 45, 13);
}